body{

  background:#0f172a;

  color:white;

  font-family:Arial;

  padding:30px;
}

.dark{

  background:white;

  color:black;
}

.container,
.login-container{

  max-width:900px;

  margin:auto;
}

input,
textarea,
select,
button{

  width:100%;

  padding:15px;

  margin:10px 0;

  border:none;

  border-radius:10px;
}

button{

  background:#38bdf8;

  color:white;

  cursor:pointer;
}

.lead-card{

  background:#1e293b;

  padding:20px;

  margin:20px 0;

  border-radius:15px;
}